<xf:macro name="custom_fields_view"
	arg-sxfcorefields=""
	arg-entity=""
	arg-type="!"
	arg-group="!"
	arg-set="!"
	arg-onlyInclude="{{ null }}"
	arg-additionalFilters="{{ [] }}"
	arg-wrapperClass=""
	arg-valueClass="pairs pairs--columns pairs--spaced pairs--fixedSmall">
	
	<xf:if contentcheck="true">
		<div class="{$wrapperClass}">
		<xf:contentcheck>
			<xf:macro name="custom_fields_values"
				arg-sxfcorefields="{$sxfcorefields}"
				arg-entity="{$entity}"
				arg-type="{$type}"
				arg-group="{$group}"
				arg-set="{$set}"
				arg-onlyInclude="{$onlyInclude}"
				arg-additionalFilters="{$additionalFilters}"
				arg-valueClass="{$valueClass}" />
		</xf:contentcheck>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="custom_fields_values"
	arg-sxfcorefields=""
	arg-entity=""
	arg-type="!"
	arg-group="!"
	arg-set="!"
	arg-onlyInclude="{{ null }}"
	arg-additionalFilters="{{ [] }}"
	arg-valueClass="pairs pairs--columns pairs--fixedSmall">
	
	<xf:foreach loop="$xf.app.getCustomFields({$type}, {$group}, {$onlyInclude}, {$additionalFilters})" key="$fieldId" value="$fieldDefinition">
		<xf:if is="$fieldDefinition.hasValue({$set.{$fieldDefinition.field_id}})">
			<dl class="{$valueClass}">
				<dt>{$fieldDefinition.title}</dt>
				<dd>
					<xf:set var="$field">
						<xf:macro template="custom_fields_macros" name="custom_field_value"
							arg-definition="{$fieldDefinition}"
							arg-value="{$set.{$fieldDefinition.field_id}}" />
					</xf:set>
					
					<xf:if is="{{ $type == 'threads' }}">
						<xf:if is="{{ $xf.visitor.user_id == $entity.user_id OR $xf.visitor.is_admin OR $fieldDefinition.viewable_user_group_ids == [-1] OR $xf.visitor.isMemberOf($fieldDefinition.viewable_user_group_ids) }}">
							{$field}
						<xf:else />
							{{ phrase('sxfcore_no_permission_view_value_this_field') }}
						</xf:if>
					<xf:else if="{{ $type == 'users' }}" />
						<xf:if is="{{ $xf.visitor.user_id == $sxfcorefields.{$fieldDefinition.field_id}.user_id OR $xf.visitor.is_admin }}">
							{$field}
						<xf:else />
							<xf:set var="$fieldhide" value="{$sxfcorefields.{$fieldDefinition.field_id}.sxfcore_hide_field}" />
							
							<xf:if is="{{ $fieldhide == 'all' }}">
								{$field}
							<xf:elseif is="{{ $fieldhide == 'authorized' AND $xf.visitir.user_id }}" />
								{$field}
							<xf:elseif is="{{ $fieldhide == 'subscriber' AND $sxfcorefields.{$fieldDefinition.field_id}.User.isFollower($xf.visitor) }}" />
								{$field}
							<xf:else />
								{{ phrase('sxfcore_the_user_has_forbidden_to_view_this_information') }}
							</xf:if>
						</xf:if>
					</xf:if>
				</dd>
			</dl>
		</xf:if>
	</xf:foreach>
</xf:macro>

<xf:macro name="custom_fields_edit"
	arg-sxfcorefields="!"
	arg-type="!"
	arg-group="{{ null }}"
	arg-set="!"
	arg-editMode="user"
	arg-onlyInclude="{{ null }}"
	arg-additionalFilters="{{ [] }}"
	arg-rowType=""
	arg-rowClass=""
	arg-namePrefix="custom_fields"
	arg-requiredOnly="{{ false }}">

	<xf:foreach loop="$xf.app.getCustomFieldsForEdit({$type}, {$set}, {$editMode}, {$group}, {$onlyInclude}, {$additionalFilters})" key="$fieldId" value="$fieldDefinition">
		<xf:if is="!$requiredOnly OR ($requiredOnly AND $fieldDefinition.required)">
			<xf:if is="{{ $type == 'users' }}">
				<xf:selectrow name="sxfcorefield_hide[{$fieldDefinition.field_id}]" 
					value="{$sxfcorefields.{$fieldDefinition.field_id}.sxfcore_hide_field}"
					label="{{ phrase('sxfcore_who_sees_the_field') }} {$fieldDefinition.title}">
					<xf:option value="hide" label="{{ phrase('sxfmp_user_filed_hide_hide') }}" />
					<xf:option value="subscriber" label="{{ phrase('sxfmp_user_filed_hide_subscriber') }}" />
					<xf:option value="authorized" label="{{ phrase('sxfmp_user_filed_hide_authorized') }}" />
					<xf:option value="all" label="{{ phrase('sxfmp_all_users') }}" />
				</xf:selectrow>
			</xf:if>
			<xf:formrow label="{$fieldDefinition.title}"
				explain="{$fieldDefinition.description}"
				hint="{{ $fieldDefinition.isRequired($editMode) ? phrase('required') : '' }}"
				rowtype="{$rowType} customField {{ in_array($fieldDefinition.field_type, ['textbox', 'textarea', 'bbcode', 'select']) ? 'input' : '' }}"
				rowclass="{$rowClass}"
				data-field="{$fieldDefinition.field_id}">
				
				<xf:macro template="custom_fields_macros" name="custom_fields_edit_{$fieldDefinition.field_type}" arg-set="{$set}" arg-definition="{$fieldDefinition}" arg-editMode="{$editMode}" arg-namePrefix="{$namePrefix}" />
			</xf:formrow>
		</xf:if>
	</xf:foreach>
</xf:macro>